body {
  background-color: #000;
}

.divider {
  background-color: #eee;
}


#intro {
  background-image:url("intro.jpg");
  height: 400px;
}

@media (min-width: 576px) {
  #intro {
    height: 600px;
  }
}

